/Users/alex/Documents/workspace/FIB_UPC_SID/sid/
/sid/nbproject/private/
/sid/build/
/sid/dist/
*.xml
.DS_Store
/SID_Alex/nbproject/private/
/SID_Carlos/nbproject/private/
/SID_Carlos/build/
/SID_Carlos/dist/
/SID_Alex/build/
/SID_Alex/dist/

